
:root {
    --text-light:#00474B;
    --accent1-light:#00474B;
    --accent2-light:#26C1AD;
    --accent3-light:#9EE8DF;
    --accent4-light:#C5E4E7;
    --accent5-light:#F3F8FB; 
    --bg1-light:#00474B;
    --bg2-light:#9EE8DF;
    --bg3-light:#c5e4e7;
    --bg4-light:white;
    --bg5-light:#F3F8FB;

    --text-dark:#F3F8FB;
    --accent1-dark:#00474B;
    --accent2-dark:#26C1AD;
    --accent3-dark:#9EE8DF;
    --accent4-dark:#C5E4E7;
    --accent5-dark:#F3F8FB; 
    --bg1-dark:#00474B;
    --bg2-dark:#9EE8DF;
    --bg3-dark:#111;
    --bg4-dark:#333;
    --bg5-dark:#222;
}

@media(prefers-color-scheme: light){
    :root {
        --text:var(--text-light);
        --accent1:var(--accent1-light);
        --accent2:var(--accent2-light);
        --accent3:var(--accent3-light);
        --accent4:var(--accent4-light);
        --accent5:var(--accent5-light);
        --bg1:var(--bg1-light);
        --bg2:var(--bg2-light);
        --bg3:var(--bg3-light);
        --bg4:var(--bg4-light);
        --bg5:var(--bg5-light);
    }
}

@media(prefers-color-scheme: dark){
    :root {
        --text:var(--text-dark);
        --accent1:var(--accent1-dark);
        --accent2:var(--accent2-dark);
        --accent3:var(--accent3-dark);
        --accent4:var(--accent4-dark);
        --accent5:var(--accent5-dark);
        --bg1:var(--bg1-dark);
        --bg2:var(--bg2-dark);
        --bg3:var(--bg3-dark);
        --bg4:var(--bg4-dark);
        --bg5:var(--bg5-dark);

    }
}


*{
    font-family:'Gotham', sans-serif;
    opacity: 1;
}

body {
    background:var(--bg3);
    margin:0;
}

div {
    margin:30px;
}

p {
    margin:0px;
    padding-bottom:5px;
}

input {
    box-sizing: border-box;
    width:100%;
    text-align: right;
    background-color: var(--bg5);
    border:2px solid var(--bg5);
    outline:none;
    padding:10px;
    color: var(--text);
    opacity: 1;
    font-size:1.4rem;
    font-weight:bold;
    overflow:visible;
    border-radius: 5px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text);
    opacity: 1;
    font-size:1.4rem;
    font-weight:bold;
}
input:focus::placeholder,
#custom-input:focus::placeholder {
    color: transparent;
}

input:focus {
    border:2px solid var(--accent3);
}

input[type="radio"] {
    display:none;
}

.logo{
    text-align:center;
}
.logo svg {
    fill:var(--text);
    width:100px;
    height:100px;
}
@media only screen and (max-width: 600px) {
    .logo svg {
      width:50px;
      height:50px;
    }
  }

.wrapper {
    display: grid;
    place-items: center;
    justify-items: stretch;
    max-width:900px;
    min-height: 100vh;
    margin:auto; 
    border-radius: 20px;
}

.grid-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    background:var(--bg4);  
    padding:25px;
    border-radius:20px;
    gap:25px;
}

.box1 {
    color:var(--text);
}
.box1 div {
    margin-left:0;
    margin-right:0;
}

.results {
    background:var(--bg1);
    border-radius: 20px;
    color:var(--accent5);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.results .item {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0px;
}

.results .item p:nth-of-type(2) {
    opacity:.5;
}
.reset-container {
    margin-top:auto;
}

.buttons-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
    margin:0px;
}


#custom-input {
    padding:0px;
    margin:0px;
    font-size:1.2rem;
    border:0;
    outline:0;
    text-align: center;
    background:none;
}

#custom-input:hover {
    cursor:pointer;
}

#custom-input::placeholder {
    color:var(--text);
    font-size:1.2rem;
}

#custom-number:hover  {
    border: 2px solid var(--accent1);
    cursor:pointer;
}

.custom-label {
    background:var(--bg5);
    border-color: var(--bg5);
}

#custom-number:checked + label {
    border:2px solid var(--accent3);
    background:var(--bg5);
}

label {
    background:var(--accent1);
    color:var(--accent5);
    border:2px solid var(--accent1);
    outline:none;
    padding: 15px 10px;
    border-radius:5px;
    font-size:1.2rem;
    font-weight: bold;
    text-align: center;
}

label:hover  {
    background:var(--accent3);
    border: 2px solid var(--accent3);
    cursor:pointer;
    color:var(--accent1);
}


input[type="radio"]:checked + label {
    background-color: var(--accent2);
    border: 2px solid var(--accent2);
    color:var(--accent1);
}

input[type="radio"]:checked:hover + label {
    background:var(--accent3);
    border: 2px solid var(--accent3);
}

#tip, #total {
    color:var(--accent2);
    font-size:2rem;
    font-weight:bold;
}

#reset {
    width:100%;
    font-weight: bold;
    text-transform: uppercase;
    background:var(--accent2);
    color:var(--accent1);
    border:1px solid var(--accent2);
    border-radius:5px;
    outline:none;
    padding: 15px 10px;
    font-size:1.2rem;
    text-align: center;
}

#reset:hover {
    background:var(--accent3);
    cursor:pointer;
}

.reset-faded {
    opacity:.3;
    pointer-events: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

