.container {
  position:absolute;
  top:1rem;
  right:1rem;

  button {
    border:none;
    background:transparent;
    &:hover {
      cursor: pointer;
    }
    > svg {
      color:var(--clr-text-100);
      width:1.5rem;
      height:1.5rem;
    }
  }
}